* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Comfortaa', sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}

.container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "nav"
    "main"
}

/*****************************************************************************HEADER******************************************************************************************/
header {
  grid-area: header;
  background-color: #3D5B81;
  display: flex;
  justify-content: space-between;
  text-align: right;
  margin-left: 0;
  margin-right: 0;
  height: 50px;
}

.mainH {
  text-align: left;
  font-size: 2em;
  padding-top: 7px;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  padding-left: 10px;
}

p {
  text-align: left;
  font-size: 2em;
  padding-top: 7px;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
}

.intro {
  display: inline;
  text-align: right;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
}

.member_detail {
  display: flex;
  text-align: right;
  align-items: center;
  padding-left: 10px;
}

.photo {
  border-radius: 100px;
  width: 40px;
  height: 40px;
}

.userName {
  margin-left: 10px;
  margin-right: 15px;
  font-size: .9em;
  font-weight: bold;
}

.bell_Icon {
  width: 1.8em;
  height: 1.8em;
}

.dropbtn {
  border: none;
  border-right: 1px solid white;
  background: none;
  cursor: pointer;
  padding-left: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.dot {
  position: absolute;
  background-color: orange;
  height: 6px;
  width: 6px;
  border-radius: 100%;
  top: 13px;
  float: right;
  overflow: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #3D5B81;
  max-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 15px;
  text-align: center;
}

.dropdown-content li {
  color: white;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
}

.show {
  display: block;
}

.closeX {
  color: red;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

/******************************************************************************NAV********************************************************************************************/
nav {
  grid-area: nav;
  background-color: #633E85;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 5px;
}

.icons {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  margin-left: 15px
}

/*****************************************************************************MAIN********************************************************************************************/
main {
  grid-area: main;
  display: grid;
  background-color: #20284c;
  grid-template-rows: auto;
  grid-template-areas:
    "dashboard"
    "alerting"
    "lineChart"
    "dailyChart"
    "mobileUser"
    "socialStat"
    "newMembers"
    "recentActivities"
    "messageUsers"
    "settings"
}

/***************************************************************************DASHBOARD*****************************************************************************************/
.dashboard {
  display: flex;
  grid-area: dashboard;
  background-color: #20284c;
  align-items: center;
}

h1 {
  color: white;
  font-weight: lighter;
  font-size: 1.4em;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-right: 20px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 90%;
  margin: 0;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
}

#search {
  width: 80%;
  margin: auto;
  margin: 10px;
  border-radius: 5px;
  height: 35px;
  font-family: 'Comfortaa', sans-serif;
}

.alerting {
  display: flex;
  grid-area: alerting;
}

.alert {
  display: flex;
  font-size: .7em;
  align-items: center;
  width: 95%;
  padding-top: .6em;
  padding-bottom: .6em;
  background-color: #B09BC2;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  justify-content: center;
  margin: auto;
}

.closebtn {
  color: red;
  font-weight: bold;
  float: right;
  font-size: 1.1em;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: orange;
}

/***************************************************************************LINE CHART****************************************************************************************/
h2 {
  display: flex;
  color: white;
  justify-content: center;
  width: 100%;
  font-weight: lighter;
  font-size: 1em;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: auto;
}

.mybtns h2 {
  font-size: 2em;
  margin-bottom: 5px;
  margin-top: 20px;
}

.mybtns li {
  list-style: none;
  display: inline;
}

.lineChart {
  grid-area: lineChart;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.lineChart button {
  text-align: center;
  margin-bottom: 5px;
  color: white;
  border: none;
  background-color: #633E85;
  border-radius: 10%;
  padding: 5px 7.5px;
}

#hourly,
#daily,
#weekly,
#monthly {
  margin-right: 10px;
  font-family: 'Comfortaa', sans-serif;
}

.mybtns {
  display: table;
  font-size: 8px;
  margin: auto;
}

canvas {
  width: 100% !important;
  margin-top: 30px;
  margin-bottom: 30px;
}

/***************************************************************************BAR CHART*****************************************************************************************/
.dailyChart {
  grid-area: dailyChart;
  margin-top: 15px;
}

/*************************************************************************DOUGHNUT CHART**************************************************************************************/
.mobileUser {
  grid-area: mobileUser;
  margin-top: 15px;
}

/****************************************************************************SOCIAL STAT**************************************************************************************/
.socialStat {
  grid-area: socialStat;
  margin-top: 10px;
  margin-bottom: 50px;
}

.wrap {
  display: flex;
  justify-content: center;
}

.card1,
.card2,
.card3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2px;
  margin-right: 2px;
  width: 30%;
  height: 80px;
  border: 1px solid white;
  border-radius: 3%;
}

h3 {
  font-size: .8em;
  color: white;
  margin-bottom: auto;
}

.containerT,
.containerF,
.containerG {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #20284c;
  border-radius: 100%;
  width: 45px;
  height: 45px;
}

.socialGoogle,
.socialTwitter,
.socialFacebook {
  padding-right: 3px;
}

.socialGoogle p,
.socialTwitter p,
.socialFacebook p {
  font-size: 1.4em;
}

/****************************************************************************NEW MEMBERS**************************************************************************************/
.newMembers {
  grid-area: newMembers;
}

.newMembers h2 {
  margin-top: 30px;
}

.photoMembers {
  border-radius: 100px;
  width: 10%;
  width: 40px;
  height: 40px;
}

h4 {
  font-size: 1em;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: lighter;
  color: white;
}

.groupA {
  display: flex;
  flex-direction: column;
}

.infoMemb {
  width: 87%;
  float: right;
}

.infoMemb a {
  font-size: .8em;
  text-decoration: none;
  color: #218ea9;
}

.infoMemb p {
  width: 20%;
  font-size: 12px;
  margin-left: 0;
  padding-top: 0;
  float: right;
}

.memberCard {
  margin: 10px;
  border-bottom: 1px solid #20284c;
}

/*************************************************************************RECENT ACTIVITIES***********************************************************************************/
.recentActivities {
  grid-area: recentActivities;
}

.recentActivities h2 {
  margin-top: 30px;
}

.groupB {
  display: flex;
  flex-direction: column;
}

h5 {
  font-size: .8em;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: lighter;
  color: white;
}

.activitiesMemb {
  width: 87%;
  float: right;
}

.activitiesMemb p {
  font-size: .8em;
  font-weight: lighter;
  margin: 0;
  padding-top: 5px;
  color: #218ea9;
  display: inline-block;
  vertical-align: top;
}

.arrow {
  width: 5%;
  float: right;
  padding-bottom: 5px;
}

/***************************************************************************MESSAGE USER**************************************************************************************/
.messageUsers {
  grid-area: messageUsers;
}

.messageUsers h2 {
  margin-top: 30px;
}

.msgfields {
  display: flex;
  flex-direction: column;
}

.ui-menu-item {
  background-color: white;
  list-style: none;
  width: 60vw;
}

#msgsearch,
#msgXuser,
.button2 {
  width: 80%;
  margin: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

#msgsearch {
  height: 35px;
  font-family: 'Comfortaa', sans-serif;
}

#msgXuser {
  box-sizing: border-box;
  height: 100px;
  font-family: 'Comfortaa', sans-serif;
}

/****************************************************************************SETTINGS*****************************************************************************************/
.settings {
  grid-area: settings;
}

.settings h2 {
  margin-top: 30px;
}

.button2 {
  height: 35px;
  background-color: #3D5B81;
  font-family: 'Comfortaa', sans-serif;
  color: white;
}

.checkButtons {
  width: 80%;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  line-height: 2.3em;
  padding-bottom: 0;
}

.checkButtons li {
  list-style: none;
}

.win-switch {
  display: none;
  position: relative;
}

.win-switch+label {
  line-height: 1.5em;
  float: left;
  font-size: 1em;
  color: white;
  padding: 10px;
  padding-left: 0;
  text-align: left !important;
  /*To keep the switch from getting misaligned*/
}

.win-switch+label span.sw {
  width: 55px;
  height: 25px;
  float: right;
  border-radius: 11px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: transparent;
  border: 2px solid #218ea9;
  transition: all ease 300ms;
}

.win-switch+label span.sw:before {
  content: '';
  position: absolute;
  background-color: #218ea9;
  margin-top: 3px;
  margin-left: 3px;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  transition: all ease 300ms;
}

.win-switch:checked+label span.sw {
  background-color: #20284c;
  border-color: white;
}

.win-switch:checked+label span:before {
  margin-left: 31px;
  background-color: #fff;
}

.timezone {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

#continent {
  width: 80%;
  height: 35px;
  margin: auto;
  border-radius: 5px;
}

.buttonSD {
  display: flex;
  justify-content: center;
}

.buttonSave,
.buttonDelete {
  width: 40%;
  height: 35px;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: #3D5B81;
  font-family: 'Comfortaa', sans-serif;
  color: white;
}
