* {
box-sizing: border-box;
}

body {
padding: 0;
margin:0;
font-family: 'Rajdhani', sans-serif;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "nav"
    "main"
}
header {
  grid-area: header;
  background-color: #355935;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-top: 0;
}
p {
 width: 100%;
 font-size: 2em;
 margin-bottom: 0;
}
.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;

}
.bell_Icon {
  width: 20px;
  height: 20px;
}
.member_detail {
  display: flex;
  text-align: right;
  align-items: center;
}
.photo {
  display: flex;
  text-align: right;
  align-items: center;
  border-radius: 100px;
  width: 50px;
  height: 50px;
}
.userName {
  font-size: 1.4em;
}
nav {
  grid-area: nav;
  background-color: #5d8c55;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content:center;
  padding-top: 7px;
}
.icons {
  width: 30px;
  height: 30px;
  margin-right: 10px;

}
main {
  grid-area: main;
  background-color: #93be89;
  text-align: center;
}
