* {
box-sizing: border-box;
}

body {
padding: 0;
margin: 0;
font-family: 'Rajdhani', sans-serif;
}

.container {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "nav"
    "main"
}
header {
  grid-area: header;
  background-color: #355935;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}
p {text-align: left;
 width: 30%;
 font-size: 2em;
 padding-top: 7px;
 margin-top: 0;
 margin-bottom: 0;
 margin-left: 10px;

}
.intro {
  display: flex;
  align-items: center;
  justify-content:center;

}
.bell_Icon {
  padding-right: 8px;
  width: 1.6em;
  height: 1.6em;
}
.dot {
  position: absolute;
  top: 17px;
  right: 138px;
  height: 5px;
  width: 5px;
  background-color: orange;
  border-radius: 100%;
}
.line {
  position: absolute;
  top: 13px;
  right: 125px;
  height: 35px;
  width: 1.5px;
  background-color: black;
  border-radius: 20%;
}
.member_detail {
  display: flex;
  align-items: center;
  justify-content:center;
}
.photo {
  align-items: center;
  border-radius: 100px;
  width: 40px;
  height: 40px;
}
.userName {
  margin-left:10px;
  font-size: 1.2em;
  font-weight: bold;
}

nav {
  grid-area: nav;
  background-color: #5d8c55;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content:center;
  padding-top: 7px;
}
.icons {
  width: 30px;
  height: 30px;
  margin-right: 10px;

}
main {
  grid-area: main;
  display:grid;
  background-color: #d1e4d0;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 2px;
  grid-template-areas:
   "dashboard"
   "alerting"
   "lineChart"
   "dailyChart"
   "mobileUser"
   "socialStat"
   "newMembers"
   "recentActivities"
   "messageUsers"
   "settings"
}
.dashboard {
  display: flex;
  grid-area: dashboard;
  background-color: #d6ecd2;
}
h1 {
  color: black;
  font-weight: lighter;
  font-size: 1.4em;
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-right: 30px;
}
.search {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0;
  padding-left: 110px;
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
}
#search {
  width: 80%;
  margin: auto;
  margin-right: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  height: 30px;
}

.alerting {
  display: flex;
  grid-area: alerting;
  background-color: #d6ecd2;
}

.alert {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: yellow;
  color: black;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
}

.closebtn {
  margin-left: 15px;
  color: black;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: black;
}
h2 {
  display: flex;
  color: black;
  justify-content: center;
  width: 50%;
  font-weight: lighter;
  font-size: 1em;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: auto;
}
canvas {
  width: 100% !important;
}
.lineChart {
  grid-area: lineChart;
  background-color: #e4eec9;
  display:flex;
  flex-direction: column;

}
.lineChart button {
  width: 50%;
  display: flex;
  text-align: center;
  background-color: #e4eec9;
}
.mybtns {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 8px;
  display: flex;
  justify-content:right;
  margin: auto;
}
.dailyChart {
  grid-area: dailyChart;
  background-color: #cee7c0;
}
.mobileUser {
  grid-area: mobileUser;
  background-color: #b5c999;
}

.socialStat {
  grid-area: socialStat;
  background-color: #dbedc7;
}
.wrap {
  display: flex;
  justify-content: center;
}
.card1,
.card2,
.card3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  width: 30%;
  border: 1px solid #5d8c55;
  border-radius: 10%;
}
h3 {
  font-size: 1em;
  color: #5d8c55;
  margin-bottom: auto;
}
.containerT,
.containerF,
.containerG {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #5d8c55;
  border-radius: 100%;
  width: 45px;
  height: 45px;
}
.socialGoogle p,
.socialTwitter p,
.socialFacebook p {
  font-size: 1.6em;
}
.newMembers {
  grid-area: newMembers;
  background-color: #e5ffe5;
}
.photoMembers {
  border-radius: 100px;
  width: 10%;
  width: 40px;
  height: 40px;
}
h4{
  font-size: 1em;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: lighter;
}
.groupA {
  display: flex;
  flex-direction: column;
}
.infoMemb {
  width: 88%;
  float: right;
}
.infoMemb a{
  font-size: .9em;
  text-decoration: none;
}
.infoMemb p {
  width: 20%;
  font-size: .8em;
  margin-left: 0;
  padding-top: 0;
  float: right;
}
.memberCard {
  margin: 10px;
  border-bottom: 1px solid #5d8c55
}
.groupB {
  display: flex;
  flex-direction: column;
}
.recentActivities {
  grid-area: recentActivities;
  background-color: #ccfccc;
}
h5 {
  font-size: .9em;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: lighter;
}
.activitiesMemb {
  width: 88%;
  float: right;
}
.activitiesMemb p {
  font-size: .8em;
  font-weight: lighter;
  margin: 0;
  padding-top: 5px;
}
.arrow {
  width: 5%;
  font-size: .9em;
  margin-left: auto;
  padding-top: 0;
  float: right;
}
.messageUsers {
  grid-area: messageUsers;
  background-color: #c7edd9;
}
.msgfields {
  display: flex;
  flex-direction: column;
}
#msgsearch,
#msgXuser,
.button2 {
  width: 80%;
  margin: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}
#msgsearch {
  height: 30px;
}
#msgXuser {
  box-sizing: border-box;
  height: 100px;
}
.settings {
  grid-area: settings;
  background-color: #f2fff9;
}
.button2 {
  height: 30px;
  background-color: #587253;
}
.radioButtons {
  width: 80%;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  line-height: 2.3em;
  padding-bottom: 0;
}
.radioButtons li {
  list-style: none;
}
.win-switch {
  display: none;
  position: relative;
}
.win-switch + label {
  line-height: 1.5em;
  float: left;
  font-size: 1em;
  color: black;
  padding: 10px;
  padding-left: 0;
  text-align: left !important;  /*To keep the switch from getting misaligned*/
}
.win-switch + label span.sw {
  width: 55px;
  height: 25px;
  float: right;
  border-radius: 11px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: transparent;
  border: 2px solid #587253;
  transition: all ease 300ms;
}
.win-switch + label span.sw:before {
  content:'';
  position:absolute;
  background-color : #587253;
  margin-top: 3px;
  margin-left: 3px;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  transition: all ease 300ms;
}
.win-switch:checked + label span.sw {
  background-color: #587253;
  border-color: #587253;
}
.win-switch:checked + label span:before {
  margin-left: 31px;
  background-color : #fff;
}

.timezone {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
#continent {
  width: 80%;
  height: 30px;
  margin: auto;
  border-radius: 5px;
}
.buttonSD {
  display: flex;
  justify-content: center;
}
.buttonSave,
.buttonDelete {
  width: 40%;
  height: 30px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #587253;

}
/*@media (min-width: 882px) {
  .lineChart button {
    justify-content:center;
    width: 10%;
    border-radius: 12%;
    border: none;
    transition-duration: 0.4s;
    background-color: white;
    border: 2px solid orange;

  }
  .lineChart button:hover {
    background-color: orange;
    color: white;
  }
  }
  */
