* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Comfortaa', sans-serif;
}

.container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "nav"
    "main"
}

header {
  grid-area: header;
  background-color: #3D5B81;
  display: flex;
  justify-content: space-between;
  text-align: right;
  margin-left: 0;
  margin-right: 0;
  height: 50px;
}

p {
  text-align: left;
  font-size: 2em;
  padding-top: 7px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
  color: white;
}

.intro {
  display: inline;
  text-align: right;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
}

.member_detail {
  display: flex;
  text-align: right;
  align-items: center;
  padding-left: 10px;
}

.photo {
  border-radius: 100px;
  width: 40px;
  height: 40px;
}

.userName {
  margin-left: 10px;
  margin-right: 10px;
  font-size: .9em;
  font-weight: bold;
}

.bell_Icon {
  width: 1.8em;
  height: 1.8em;
}

.dropbtn {
  border: none;
  border-right: 1px solid white;
  background: none;
  cursor: pointer;
}

.dot {
  position: absolute;
  background-color: orange;
  height: 6px;
  width: 6px;
  border-radius: 100%;
  top: 13px;
  float: right;
  overflow: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #3D5B81;
  max-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 15px;
  text-align: center;
}

.dropdown-content li {
  color: white;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
}

.show {
  display: block;
}

.closeX {
  color: red;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}
}

.listDnM {
  list-style-type: none;
  padding: 0;
}

nav {
  grid-area: nav;
  background-color: #633E85;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 7px;
}

.icons {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

main {
  grid-area: main;
  display: grid;
  background-color: #20284c;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas:
    "dashboard"
    "alerting"
    "lineChart"
    "dailyChart"
    "mobileUser"
    "socialStat"
    "newMembers"
    "recentActivities"
    "messageUsers"
    "settings"
}

.dashboard {
  display: flex;
  grid-area: dashboard;
  background-color: #20284c;
  align-items: center;
}

h1 {
  color: white;
  font-weight: lighter;
  font-size: 1.4em;
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-right: 30px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 90%;
  margin: 0;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
}

#search {
  width: 80%;
  margin: auto;
  margin: 10px;
  border-radius: 5px;
  height: 35px;
  font-family: 'Comfortaa', sans-serif;
}

.alerting {
  display: flex;
  grid-area: alerting;
}

.alert {
  display: flex;
  font-size: 10px;
  align-items: center;
  width: 95%;
  padding: 1em;
  background-color: #B09BC2;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  justify-content: center;
  margin: auto;
}

.closebtn {
  margin-left: 15px;
  color: black;
  font-weight: bold;
  float: right;
  font-size: 10px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: orange;
}

h2 {
  display: flex;
  color: white;
  justify-content: center;
  width: 100%;
  font-weight: lighter;
  font-size: 1em;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: auto;
}

.mybtns h2 {
  font-size: 2em;
  margin-bottom: 5px;
}

.mybtns li {
  list-style: none;
  display: inline;
}

.lineChart {
  grid-area: lineChart;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.lineChart button {
  text-align: center;
  margin-bottom: 5px;
  color: white;
  border: none;
  background: none;
}

#hourly,
#daily,
#weekly,
#monthly {
  margin-right: 10px;
  font-family: 'Comfortaa', sans-serif;
}

.mybtns {
  display: table;
  font-size: 8px;
  margin: auto;
}

canvas {
  width: 100% !important;
  margin-top: 20px;
}

.dailyChart {
  grid-area: dailyChart;
  margin-top: 15px;
}

.mobileUser {
  grid-area: mobileUser;
  margin-top: 15px;
}

.socialStat {
  grid-area: socialStat;
  margin-top: 30px;
  margin-bottom: 30px;
}

.socialStat h2 {
  margin-bottom: 10px;
}

.wrap {
  display: flex;
  justify-content: center;
}

.card1,
.card2,
.card3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  width: 30%;
  border: 1px solid white;
  border-radius: 10%;
}

h3 {
  font-size: .9em;
  color: white;
  margin-bottom: auto;
}

.containerT,
.containerF,
.containerG {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #20284c;
  border-radius: 100%;
  width: 45px;
  height: 45px;
}

.socialGoogle p,
.socialTwitter p,
.socialFacebook p {
  font-size: 1.6em;
}

.newMembers {
  grid-area: newMembers;
}

.photoMembers {
  border-radius: 100px;
  width: 10%;
  width: 40px;
  height: 40px;
}

h4 {
  font-size: 1em;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: lighter;
  color: white;
}

.groupA {
  display: flex;
  flex-direction: column;
}

.infoMemb {
  width: 88%;
  float: right;
}

.infoMemb a {
  font-size: .9em;
  text-decoration: none;
  color: #218ea9;
}

.infoMemb p {
  width: 20%;
  font-size: .8em;
  margin-left: 0;
  padding-top: 0;
  float: right;
}

.memberCard {
  margin: 10px;
  margin-left: 20px;
  border-bottom: 1px solid #20284c;
}

.groupB {
  display: flex;
  flex-direction: column;
}

.recentActivities {
  grid-area: recentActivities;
}

h5 {
  font-size: .9em;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: lighter;
  color: white;
}

.activitiesMemb {
  width: 88%;
  float: right;
}

.activitiesMemb p {
  font-size: .8em;
  font-weight: lighter;
  margin: 0;
  padding-top: 5px;
  color: #218ea9;
}

.arrow {
  width: 5%;
  font-size: .9em;
  margin-left: auto;
  padding-top: 0;
  float: right;
}

.messageUsers {
  grid-area: messageUsers;
}

.msgfields {
  display: flex;
  flex-direction: column;
}

.ui-menu-item {
  background-color: white;
  list-style: none;
  width: 60vw;
}

#msgsearch,
#msgXuser,
.button2 {
  width: 80%;
  margin: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

#msgsearch {
  height: 35px;
  font-family: 'Comfortaa', sans-serif;
}

#msgXuser {
  box-sizing: border-box;
  height: 100px;
  font-family: 'Comfortaa', sans-serif;
}

.settings {
  grid-area: settings;
}

.button2 {
  height: 35px;
  background-color: #3D5B81;
  font-family: 'Comfortaa', sans-serif;
  color: white;
}

.radioButtons {
  width: 80%;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  line-height: 2.3em;
  padding-bottom: 0;
}

.radioButtons li {
  list-style: none;
}

.win-switch {
  display: none;
  position: relative;
}

.win-switch+label {
  line-height: 1.5em;
  float: left;
  font-size: 1em;
  color: white;
  padding: 10px;
  padding-left: 0;
  text-align: left !important;
  /*To keep the switch from getting misaligned*/
}

.win-switch+label span.sw {
  width: 55px;
  height: 25px;
  float: right;
  border-radius: 11px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: transparent;
  border: 2px solid #218ea9;
  transition: all ease 300ms;
}

.win-switch+label span.sw:before {
  content: '';
  position: absolute;
  background-color: #218ea9;
  margin-top: 3px;
  margin-left: 3px;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  transition: all ease 300ms;
}

.win-switch:checked+label span.sw {
  background-color: #20284c;
  border-color: white;
}

.win-switch:checked+label span:before {
  margin-left: 31px;
  background-color: #fff;
}

.timezone {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

#continent {
  width: 80%;
  height: 35px;
  margin: auto;
  border-radius: 5px;
}

.buttonSD {
  display: flex;
  justify-content: center;
}

.buttonSave,
.buttonDelete {
  width: 40%;
  height: 35px;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: #3D5B81;
  font-family: 'Comfortaa', sans-serif;
  color: white;
}

@media (min-width: 768px) {

  .alert,
  .closebtn {
    font-size: 15px;
  }

  main {
    grid-template-areas:
      "dashboard dashboard"
      "alerting alerting"
      "lineChart lineChart"
      "dailyChart dailyChart"
      "mobileUser mobileUser"
      "socialStat socialStat"
      "newMembers recentActivities"
      "messageUsers messageUsers"
      "settings settings"
  }

  .newMembers,
  .recentActivities {
    border: 1px solid #633E85;
  }
  .ui-menu-item {
    width: 65vw;
  }
  .messageUsers h2,
  .settings h2 {
    margin-top: 20px;
  }

  #msgsearch,
  #msgXuser {
    margin-bottom: 20px;
  }

  .timezone,
  .buttonSD {
    margin-bottom: 10px;
  }
}

@media (min-width: 1024px) {
  .container {
    grid-template-columns: 80px 1fr;
    grid-template-areas:
      "header header"
      "nav main";
  }

  header {
    height: 70px;
    align-items: center;
  }
  header p {
    padding-left: 15px;
  }
  .member_detail {
    padding-left: 20px;
    padding-right: 15px;
  }
  .userName {
    font-size: 17px;
    margin-left: 0;
  }
  .dropbtn {
    padding-right: 20px;
  }
  .dot {
    position: absolute;
    top: 25px;
    float: right;
    overflow: hidden;
  }

  .dropdown-content {
    max-width: 150px;
    font-size: 14px;
  }

  .dropdown-content li {
    padding: 8px 8px;
  }

  .dropdown-content li:hover {
    background-color: #20284c;
    color: white;
  }

  nav {
    display: block;
  }

  .icons {
    margin-top: 40px;
  }

  .alert {
    font-size: 15px;
  }

  #search {
    width: 50%;

    margin: 13px;
  }

  main {
    grid-template-areas:
      "dashboard dashboard"
      "alerting alerting"
      "lineChart lineChart"
      "dailyChart mobileUser"
      "socialStat socialStat"
      "newMembers recentActivities"
      "messageUsers settings"
  }

  h2 {
    display: flex;
    justify-content: flex-start;
    margin: 20px;
  }

  .mybtns {
    display: flex;
    margin-top: 20px;
    margin-left: 0;
  }

  .toplist {
    display: flex;
    width: 85vw;
    justify-content: flex-end;
  }

  .mybtns h2 {
    margin-top: auto;
    margin-left: 0;
  }

  .mybtns li {
    padding-top: 5px;
  }

  .lineChart button:hover {
    background-color: #633E85;
    color: white;
    border-radius: 10%;
    height: 25px;
  }

  .dailyChart {
    border-top: 1px solid #633E85;
    border-bottom: 1px solid #633E85;
    border-right: 1px solid #633E85;
  }
  .mobileUser {
    border-top: 1px solid #633E85;
    border-bottom: 1px solid #633E85;
    border-left: 1px solid #633E85;
  }

  .lineChart {
    padding-left: 50px;
    padding-right: 50px;
  }

  .dailyChart {
    padding-left: 50px;
  }

  .mobileUser {
    padding-right: 50px;
  }

  .newMembers,
  .recentActivities,
  .messageUsers,
  .settings {
    border: 1px solid #633E85;
  }

  .card1,
  .card2,
  .card3 {
    display: flex;
  }

  .memberCard {
    margin-bottom: 20px;
  }
  .ui-menu-item {
    width: 45vw;
  }

  .msgfields {
    margin-bottom: 40px;
  }

  #msgsearch,
  #msgXuser {
    margin-bottom: 20px;
  }

  .timezone,
  .buttonSD {
    margin-bottom: 20px;
  }
}
